@charset "utf-8";
/***CSS for background***/

	.shadowImage {
		position: absolute;
		top: 200px;	
	}
	body {
		background-color: #eae2d7;
	}
	#topGradient{
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 150px;
		background: linear-gradient(rgba(219, 205, 186, 1), rgba(219, 205, 186, 0));
		behavior: url(PIE-1.0.0/PIE.htc);
	}
/*-------End Background CSS */

/***CSS for Title text in Header***/
	@font-face {
		font-family: bebas;	
		src:url(../text/BEBAS___.ttf);
	}
	
	#siteTitle {
		position: absolute;
		left: 14%;
		color: #e61052;	
		font-family: bebas, sans-serif;
		font-size: 2.8em;
	}
	#titleCaption {
		position: absolute;
		top: 100px;
		left: 14%;
		font-family: bebas, sans-serif;	
		font-size: 12px;
	}
/*-------End Header Text CSS*/

/***CSS for slogan image between title and search bar***/

	#slogan {
		position: relative;
		top: 40px;
		left: 570px;
		z-index: 2;	
	}

/*-------------end slogan CSS*/


/***CSS for search box and button area***/
	#searchButton {
		width: 100px;
		height: 30px;
		border-radius: 15px;
		top: 72px;
		right: 380px;	
	}
	#searchText {
		top: 6px;
		left: 15px;	
	}
	input {
		width: 200px;
		height: 25px;
		border-radius: 15px;
		padding-left: 10px;
		position: absolute;
		top: 72px;
		right: 500px;
		color: #d9cbb7;
		z-index: 1;
	}
/*-------end search area CSS */

/***CSS for Links (.pinkButton is for Search button)***/
	a:link {
		text-decoration: none;	
	}
	.pinkBox, .pinkButton {
		width: 170px;
		height: 57px;
		position: absolute;
		top: 170px;
		background-image: url(../images/linkDefault.png);
		background-repeat: repeat-x;
		z-index: 0;
	}
	.hover, .current {
		background-image: url(../images/linkHover.png);
		background-repeat: repeat-x;
	}
	.pinkBox {
		color: white;
		border: 2px;
		border-right: dotted;	
	}
		#homeLink {
			left: 200px;
			border-top-left-radius: 15px;
			border-bottom-left-radius: 15px;
			behavior: url(../PIE-1.0.0/PIE.htc);	
		}
		#blogLink {
			left: 371px;	
		}
		#productsLink {
			left: 542px;	
		}
		#aboutLink {
			left: 713px;	
		}
		#buyLink {
			left: 884px;	
		}
		#contactLink {
			left: 1055px;
			border: none;
			border-top-right-radius: 15px;
			border-bottom-right-radius: 15px;
			behavior: url(../PIE-1.0.0/PIE.htc);	
		}
	.linkText {
		font-family: Arial, sans-serif;
		font-weight: bold;
		color: white;
		position: relative;
		top: 20px;
	}
		#homeText {
			left: 60px;	
		}
		#blogText {
			left: 60px;	
		}
		#productsText {
			left: 19px;	
		}
		#aboutText {
			left: 41px;	
		}
		#buyText {
			left: 21px;	
		}
		#contactText {
			left: 28px;	
		}
/*-------------end CSS for Top Links*/
